/*clokqyn and ayaana*/
@media screen and (min-width: 901px) and (max-height: 950px) {
  .ayaana-banner .text {
    position: absolute;
    color: #f4f5fd;
    top: 60%;
    transform: translate(0, -60%);
    width: 40%;
  }

  .ayaana-banner .text h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .ayaana-banner .text p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1799px) {
  .ayaana-banner .image {
    left: 80%;
    top: 60%;
    transform: translate(-80%, -60%);
  }

  .ayaana-banner .image img {
    width: 130%;
  }
}

@media screen and (max-width: 1680px) {
  .ayaana-features .image {
    margin: 110px 0;
    width: 40%;
  }

  .ayaana-features .image img {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .ayaana-banner {
    height: 110vh;
  }

  .ayaana-banner .text {
    position: relative;
    color: #f4f5fd;
    top: 25%;
    transform: translate(0, -25%);
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .ayaana-banner .text h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .ayaana-banner .image {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    width: 60%;
  }

  .ayaana-banner .image img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) and (max-height: 800px) {
  .ayaana-banner {
    height: 140vh;
  }

  .ayaana-banner .image {
    left: 50%;
    top: 160%;
    transform: translate(-50%, -160%);
  }
}

@media screen and (max-width: 499px) and (max-height: 800px) {
  .ayaana-banner .image {
    left: 50%;
    top: 150%;
    transform: translate(-50%, -150%);
  }
}

@media screen and (max-width: 700px) and (max-height: 600px) {
  .ayaana-banner .text {
    top: 27%;
    transform: translate(0, -27%);
  }

  .ayaana-banner .image {
    left: 50%;
    top: 190%;
    transform: translate(-50%, -190%);
  }
}

@media screen and (max-width: 365px) and (max-height: 800px) {
  .ayaana-banner .image {
    left: 50%;
    top: 130%;
    transform: translate(-50%, -130%);
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .ayaana-banner .text {
    position: relative;
    color: #f4f5fd;
    top: 20%;
    transform: translate(0, -20%);
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .ayaana-banner .image {
    position: relative;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    width: 60%;
  }

  .ayaana-banner .image img {
    width: 100%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) and (max-height: 1000px) {
  .ayaana-banner .image {
    position: relative;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    width: 50%;
  }

  .ayaana-banner .image img {
    width: 100%;
    height: 40vh;
  }
}

@media screen and (max-width: 499px) {
  .ayaana-banner {
    padding: 0 10px;
  }

  .manage {
    padding: 70px 10px;
  }

  .manage p {
    text-align: center;
    margin: 0 10px 60px 10px;
  }

  .manage .what {
    display: block;
  }

  .manage .what .component {
    width: 90%;
    margin: 0 auto 50px auto;
  }

  .manage .what .component img {
    margin: 0 0 20px 6px;
    padding: 0 auto;
  }

  .ayaana-features {
    padding: 50px 10px;
    display: block;
  }

  .ayaana-features .text {
    width: 100%;
    margin-right: 0;
  }

  .ayaana-features .image {
    position: relative;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .ayaana-features .text #feats {
    display: grid;
    grid-template-columns: 300px;
    gap: 0;
  }

  .features .image img {
    width: 100%;
  }

  .security {
    padding: 70px 10px 0 10px;
  }

  .security p {
    margin: 0 10px 60px 10px;
  }

  .security .products {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 350px;
    gap: 40px;
    justify-content: center;
    text-align: center;
  }

  .security .products .product {
    width: 350px;
    margin-bottom: 80px;
    text-align: center;
  }

  .more-products {
    padding: 40px 10px;
  }

  .more-products p {
    margin: 0 10px 60px 10px;
  }

  .more-products .mp .cloqkyn,
  .more-products .mp .pheebs {
    display: grid;
    text-align: center;
  }

  .more-products .mp .cloqkyn .text,
  .more-products .mp .pheebs .text {
    margin: 40px 0 0 0;
    width: 100%;
  }

  .more-products .mp .cloqkyn img,
  .more-products .mp .pheebs img {
    margin: 0 auto;
    height: 50px;
  }

  .more-products .mp .cloqkyn .text p,
  .more-products .mp .pheebs .text p {
    text-align: center;
  }

  .apps-purpose {
    padding: 70px 10px;
    text-align: center;
  }

  .apps-purpose img {
    width: 25%;
    margin: 0 auto 50px auto;
  }

  .apps-purpose h5 {
    margin: 0 10px 60px 10px;
  }

  .apps-purpose .purps {
    display: grid;
  }

  .apps-purpose .purps .vertical-line {
    display: none;
  }

  .apps-purpose .purps .purpose {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .ayaana-banner {
    padding: 0 50px;
  }

  .manage {
    padding: 70px 50px;
  }

  .manage .what {
    display: grid;
    grid-template-columns: 283px 283px;
    gap: 20px;
    justify-content: center;
  }

  .manage .what .component {
    width: 283px;
  }

  .manage .what .component img {
    margin-bottom: 20px;
    padding: 0 auto;
  }

  .ayaana-features {
    padding: 50px 50px;
    display: block;
  }

  .ayaana-features .text {
    width: 100%;
    margin-right: 0;
  }

  .ayaana-features .text h2 {
    text-align: center;
  }

  .ayaana-features .image {
    position: relative;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    margin: auto;
  }

  .ayaana-features .image img {
    width: 100%;
  }

  .security {
    padding: 70px 50px 0 50px;
  }

  .security p {
    margin: 0 50px 60px 50px;
  }

  .security .products {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 350px 350px;
    gap: 20px;
    justify-content: space-evenly;
  }

  .security .products .product {
    width: 350px;
  }

  .more-products {
    padding: 40px 50px;
  }

  .more-products p {
    margin: 0 50px 60px 50px;
  }

  .apps-purpose {
    padding: 70px 50px;
    text-align: center;
  }

  .apps-purpose img {
    width: 16%;
    margin: 0 auto 50px auto;
  }

  .apps-purpose h5 {
    margin: 0 50px 60px 50px;
  }

  .apps-purpose .purps {
    display: grid;
  }

  .apps-purpose .purps .vertical-line {
    display: none;
  }

  .apps-purpose .purps .purpose {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .manage .what {
    display: grid;
    grid-template-columns: 240px 240px;
    gap: 20px;
    justify-content: center;
  }

  .manage .what .component {
    width: 240px;
  }

  .ayaana-features .text #feats {
    display: grid;
    grid-template-columns: 300px;
    gap: 0;
  }
}

@media screen and (min-width: 680px) and (max-width: 800px) {
  .security .products {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 280px 300px;
    gap: 20px;
    justify-content: space-evenly;
  }

  .security .products .product {
    width: 300px;
  }
}

@media screen and (min-width: 500px) and (max-width: 679px) {
  .security .products {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 400px;
    gap: 40px;
    justify-content: center;
  }

  .security .products .product {
    width: 400px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  .apps-purpose h5 {
    margin: 0 200px 60px 200px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
  .ayaana-banner {
    padding: 0 70px;
  }

  .ayaana-features {
    padding: 50px 70px;
  }

  .ayaana-features .image {
    left: 93%;
  }

  .security {
    padding: 70px 70px 0 70px;
  }

  .security p {
    margin: 0 120px 60px 120px;
  }

  .security .products {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 20px;
    justify-content: space-evenly;
  }

  .security .products .product {
    width: 400px;
  }

  .more-products p {
    margin: 0 20% 60px 20%;
  }

  .apps-purpose {
    padding: 70px 50px;
    text-align: center;
  }

  .apps-purpose .purps .purpose {
    width: 250px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1250px) {
  .manage .what {
    display: grid;
    grid-template-columns: 283px 283px;
    gap: 50px;
    justify-content: center;
  }

  .manage .what .component {
    width: 283px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1049px) {
  .ayaana-features {
    display: block;
  }

  .ayaana-features .text {
    width: 100%;
    margin-right: 0;
  }

  .ayaana-features .text h2 {
    text-align: center;
  }

  .ayaana-features .image {
    position: relative;
    left: 0;
    transform: translate(0, 0);
    width: 70%;
    margin: auto;
  }

  .ayaana-features .image img {
    width: 100%;
  }
}

@media screen and (max-width: 1470px) {
  .more-products .mp .cloqkyn {
    width: 508px;
    height: 203px;
    padding: 50px 20px;
  }

  .more-products .mp .pheebs {
    width: 508px;
    height: 203px;
    padding: 50px 20px;
  }
}

@media screen and (max-width: 1279px) {
  .more-products {
    padding: 40px auto;
  }

  .more-products .mp {
    width: 100%;
    display: block;
    margin-bottom: 50px;
  }

  .more-products .mp .cloqkyn {
    width: 85%;
    height: auto;
    padding: 65.83px 36px;
    margin: 0 auto 30px auto;
  }

  .more-products .mp .pheebs {
    width: 85%;
    height: auto;
    padding: 65.83px 36px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1440px) {
  .manage .what .component {
    width: 250px;
  }

  .manage .what .component img {
    padding: 0 35%;
  }
}
