/*about page*/
.about-banner {
  width: 100%;
  height: 100vh;
  background: #dfc9ea;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
}

.about-banner .left {
  width: 24%;
  margin: 290px 0 0 0;
}

.about-banner .right {
  width: 45%;
  margin: 290px 0;
}

.about-banner .right img {
  width: 100%;
  height: 50vh;
}

.about-banner .left button {
  width: 140px;
  height: 47px;
  background: #404040;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #f4f5fd;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
}

.about-banner .left h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 80px;
  color: #404040;
  margin-bottom: 40px;
}

.about-banner .left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #404040;
}

.impact {
  padding: 100px 0;
}

.impact h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #404040;
  margin-bottom: 20px;
}

.impact p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #404040;
  padding: 0 30%;
  margin-bottom: 50px;
}

.impact img {
  width: 100%;
}

.who-we-are {
  padding: 0 120px 100px 120px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.who-we-are .left {
  width: 40%;
}

.who-we-are .right {
  width: 45%;
  margin: 100px 0;
}

.who-we-are .right div .heading {
  display: flex;
  margin-bottom: 20px;
}

.who-we-are .right div .heading img {
  margin-right: 20px;
}

.who-we-are .right div .heading h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #404040;
}

.who-we-are .right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #404040;
  margin-bottom: 60px;
}

.who-we-are .right #third-text {
  margin-bottom: 0;
}

.core-values {
  background: #eaf6fc url(/images/background-rings.svg) no-repeat;
  padding: 100px 0;
}

.core-values h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #404040;
}

.core-values p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #404040;
  padding: 0 30%;
  margin-bottom: 50px;
}

.core-values .values {
  display: flex;
  padding: 0 18%;
  justify-content: space-between;
}

.core-values .values .navigation {
  display: flex;
  margin-right: 132px;
}

.core-values .values .navigation .links {
  align-items: center;
  margin: 30px 0;
}

.core-values .values .navigation .links p {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #404040;
  cursor: pointer;
}

.core-values .values .navigation .links .link:nth-child(1) {
  color: #f58220;
}

.core-values .values .navigation .highlight-bar {
  width: 3px;
  height: 230px;
  background: #ededed;
  position: relative;
}

.core-values .values .navigation .highlight-bar div {
  width: 3px;
  height: 76.6px;
  background: #f58220;
  position: absolute;
  transition: all 0.4s;
}

#client-value,
#integrity {
  display: none;
}

.core-values .values .more img {
  margin-bottom: 20px;
}

.core-values .values .more h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #404040;
  margin-bottom: 20px;
}

.core-values .values .more p {
  text-align: start;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #404040;
}

.our-team {
  padding: 100px 120px;
}

.our-team h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #404040;
  margin-bottom: 60px;
}

.our-team .team {
  display: grid;
  grid-template-columns: 183px 183px 183px 183px 183px;
  gap: 30px;
  justify-content: space-between;
}

.our-team .team .members {
  width: 183px;
}

.our-team .team .members img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.our-team .team .members .name {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #404040;
  margin-bottom: 5px;
}

.our-team .team .members .title {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #404040;
  opacity: 0.7;
  margin-bottom: 60px;
}
