/*services page*/
.services-banner {
  width: 100%;
  height: 100vh;
  background: #27b4e9;
  padding: 120px 120px;
}

.services-banner .text {
  position: absolute;
  color: #f4f5fd;
  top: 50%;
  transform: translate(0, -50%);
  width: 30%;
}

.services-banner .text h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 40px;
}

.services-banner .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.services-banner .image {
  position: absolute;
  left: 85%;
  top: 60%;
  transform: translate(-85%, -60%);
  width: 45%;
}

.services-banner .image img {
  width: 100%;
}

.how {
  width: 100%;
  background: #f9f9f9;
  padding: 50px 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.how .mid-how {
  margin-top: -20px;
}

.how .vertical-line {
  height: 126px;
  width: 2px;
  background: #000;
  opacity: 0.3;
}

.our-core-services {
  padding: 70px 120px;
}

.our-core-services h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #404040;
  margin-bottom: 20px;
}

.our-core-services p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}

.our-core-services .services {
  display: grid;
  grid-template-columns: 357px 357px 357px 357px;
  gap: 20px;
  justify-content: space-between;
}

.our-core-services .services .service {
  width: 357px;
  height: 558px;
  filter: drop-shadow(0px 4px 10px rgba(52, 53, 53, 0.08));
  margin-bottom: 70px;
}

.our-core-services .services .service img {
  width: 357px;
  height: 294px;
  border-radius: 10px 10px 0px 0px;
  background: #d9d9d9;
}

.our-core-services .services .service .text {
  width: 357px;
  height: 264px;
  background: #f9f9f9;
  border-radius: 0px 0px 10px 10px;
  padding: 37px 13.5px;
}

.our-core-services .services .service .text h3 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 20px;
}

.our-core-services .services .service .text p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}
